/* Definição das cores do esquema */
:root {
    --primary-color: #0b2c5f; /* azul escuro */
    --secondary-color: #c8102e; /* vermelho */
    --tertiary-color: #fedf00; /* amarelo */
  }
  
  /* Estilo da seção principal */
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('FBI1.png');
    background-repeat: repeat;
  }
  
  /* Estilo dos títulos */
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: whitesmoke;
  }
  
  /* Estilo dos labels */
  label {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: white;
  }
  
  /* Estilo dos inputs */
  input[type="number"],
  textarea {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* Estilo dos botões */
  button {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Estilo dos botões de codificar e decodificar */
  #encode-button {
    background-color: var(--secondary-color);
  }
  
  #encode-button:hover {
    background-color: darken(var(--secondary-color), 10%);
  }
  
  #decode-button {
    background-color: var(--tertiary-color);
  }
  
  #decode-button:hover {
    background-color: darken(var(--tertiary-color), 10%);
  }
  
  /* Estilo do output do resultado */
  #result-output {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  