/* Definição das cores do esquema */
:root {
    --primary-color: #0b2c5f; /* azul escuro */
    --secondary-color: #c8102e; /* vermelho */
    --tertiary-color: #fedf00; /* amarelo */
  }

  /* Estilo da seção principal */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('FBI.png');
    background-repeat: repeat;
  }

  